<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'infos', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "shared/info_nav" %>
    <%= render "shared/info_masthead" unless logged_in?(:site_admin) %>

    <%= yield %>

    <%= render "shared/info_footer" %>

    <%= alerts %>

  </body>
</html>
